<div class="container search--form">
  <form class="form-inline" action="/search" method="GET">
    <div class="form-group mb-2 mr-sm-2">
      <label for="country" class="sr-only">Country</label>
      <select name="country" class="custom-select mr-sm-2" id="country">
        <option selected>Choose Country...</option>
      </select>
    </div>
    <div class="form-group mb-2 mr-sm-2">
      <label for="source" class="sr-only">Source</label>
      <select name="source" class="custom-select mr-sm-2" id="source">
        <option selected>Choose Source...</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<h3>TOP ARTICLES</h3>
<hr>

<div class="news--headlines">
  {{#each completeNews }}
    <div class="headline">
      <h5>{{author}}</h5>
      <p>{{description}}</p>
      <hr>
    </div>
  {{/each}}
</div>
